.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--soft-linen);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-position: center;
  }
}

.content {
  position: relative;
  z-index: 1;
  padding: 32px 5%;
}

.parent {
  position: relative;
  width: 100%;
  height: max-content;
}
