.card {
  ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 4px;
  }

  &:global(.softLinen) {
    color: var(--graphite-smoke);

    h2,
    h3 {
      color: var(--midnight);
    }
  }

  &:global(.riverStone) {
    color: var(--graphite-smoke);

    h2,
    h3 {
      color: var(--midnight);
    }
  }

  &:global(.midnight) {
    color: var(--graphite-smoke);

    h2,
    h3 {
      color: var(--midnight);
    }
  }
}

.heading {
  margin-bottom: 1rem;
}
