.container {
  padding: 32px 5%;

  &:global(.softLinen) {
    background-color: var(--soft-linen);
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.riverStone) {
    background-color: var(--river-stone);
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.midnight) {
    background-color: var(--midnight);
    color: var(--soft-linen);

    h2 {
      color: var(--river-stone);
    }
  }
}

.wrapper {
  &:global(.block) {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.headingOut {
  margin-bottom: 1rem;
}

.grid {
  --min-column-width: 250px;
  --gap: 1rem;
  --max-columns: 3;

  display: grid;
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fill,
    minmax(
      max(
        var(--min-column-width),
        (100% - (var(--max-columns) - 1) * var(--gap)) / var(--max-columns)
      ),
      1fr
    )
  );

  &:global(.columns1) {
    grid-template-columns: 1fr;
  }

  &:global(.columns2) {
    --max-columns: 2;
  }

  &:global(.columns3) {
    --max-columns: 3;
  }

  &:global(.columns4) {
    --max-columns: 4;
  }

  &:global(.columns5) {
    --max-columns: 5;
  }
}
