.container {
  padding: 32px 5%;

  &:global(.softLinen) {
    background-color: var(--soft-linen);
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.riverStone) {
    background-color: var(--river-stone);
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.midnight) {
    background-color: var(--midnight);
    color: var(--soft-linen);

    h2 {
      color: var(--river-stone);
    }
  }
}

.wrapper {
  &:global(.block) {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.heading {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 1em;

  &:global(.columns1) {
    grid-template-columns: 1fr;
  }

  &:global(.columns2) {
    grid-template-columns: repeat(2, 1fr);
  }

  &:global(.columns3) {
    grid-template-columns: repeat(3, 1fr);
  }

  &:global(.columns4) {
    grid-template-columns: repeat(4, 1fr);
  }

  &:global(.columns5) {
    grid-template-columns: repeat(5, 1fr);
  }
}
