.wrapper {
  &:global(.block) {
    max-width: 1500px;
    margin: 0 auto;
  }

  &:global(.softLinen) {
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.riverStone) {
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.midnight) {
    color: var(--soft-linen);

    h2 {
      color: var(--river-stone);
    }
  }
}

.heading {
  margin-bottom: 1.5em;
}

.grid {
  --min-column-width: 250px;
  --gap: 1rem;

  display: grid;
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fill,
    minmax(
      max(
        var(--min-column-width),
        (100% - (var(--max-columns) - 1) * var(--gap)) / var(--max-columns)
      ),
      1fr
    )
  );
}
