.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  &:global(.softLinen) {
    background-color: var(--soft-linen);
  }

  &:global(.riverStone) {
    background-color: var(--river-stone);
  }

  &:global(.midnight) {
    background-color: var(--midnight);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
    object-position: center;
  }
}

.content {
  position: relative;
  z-index: 1;
  padding: 32px 5%;
}

.parent {
  position: relative;
  width: 100%;
  height: max-content;
}
