.content {
  max-width: 1500px;
  margin: 0 auto;

  &:global(.softLinen) {
    color: var(--graphite-smoke);

    h1 {
      color: var(--midnight);
    }
  }

  &:global(.riverStone) {
    color: var(--graphite-smoke);

    h1 {
      color: var(--midnight);
    }
  }

  &:global(.midnight) {
    color: var(--soft-linen);

    h1 {
      color: var(--river-stone);
    }
  }
}
