@media all and (min-width: 0px) {
  .container {
    padding: 32px 5%;

    &:global(.softLinen) {
      background-color: var(--soft-linen);
      color: var(--graphite-smoke);

      h2 {
        color: var(--midnight);
      }
    }

    &:global(.riverStone) {
      background-color: var(--river-stone);
      color: var(--graphite-smoke);

      h2 {
        color: var(--midnight);
      }
    }

    &:global(.midnight) {
      background-color: var(--midnight);
      color: var(--soft-linen);

      h2 {
        color: var(--river-stone);
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5%;
    row-gap: 1.5em;
    grid-auto-flow: dense;

    &:global(.block) {
      max-width: 1500px;
      margin: 0 auto;
    }
  }

  .heading {
    grid-column: span 12;
  }

  .content {
    overflow: hidden;

    grid-column: span 12;
  }

  .card {
    overflow: hidden;

    grid-column: span 12;
  }
}

@media all and (min-width: 768px) {
  .content {
    &:global(.left) {
      grid-column: 1 / span 6;
    }

    &:global(.right) {
      grid-column: span 6 / 13;
    }
  }

  .card {
    &:global(.right) {
      grid-column: 1 / span 6;
    }

    &:global(.left) {
      grid-column: span 6 / 13;
    }
  }
}

@media all and (min-width: 1024px) {
  .content {
    &:global(.left) {
      grid-column: 1 / span 7;
    }

    &:global(.right) {
      grid-column: span 7 / 13;
    }
  }

  .card {
    &:global(.right) {
      grid-column: 1 / span 5;
    }

    &:global(.left) {
      grid-column: span 5 / 13;
    }
  }
}
