.container {
  padding: 32px 5%;

  &:global(.softLinen) {
    background-color: var(--soft-linen);
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.riverStone) {
    background-color: var(--river-stone);
    color: var(--graphite-smoke);

    h2 {
      color: var(--midnight);
    }
  }

  &:global(.midnight) {
    background-color: var(--midnight);
    color: var(--soft-linen);

    h2 {
      color: var(--river-stone);
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 5%;
  grid-auto-flow: dense;

  &:global(.block) {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.heading {
  grid-column: span 12;
  margin-bottom: 1em;
}

.content {
  overflow: hidden;

  &:global(.left) {
    grid-column: 1 / span 8;
  }

  &:global(.right) {
    grid-column: span 8 / 13;
  }
}

.wrappedText {
  &:global(.left) {
    grid-column: 1 / span 8;
  }

  &:global(.right) {
    grid-column: span 8 / 13;
  }
}

.image {
  overflow: hidden;
  border-radius: 25px;

  &:global(.right) {
    grid-column: 1 / span 4;
  }

  &:global(.left) {
    grid-column: span 4 / 13;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
