@media all and (min-width: 0px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5%;
    row-gap: 1.5em;
    grid-auto-flow: dense;

    &:global(.block) {
      max-width: 1500px;
      margin: 0 auto;
    }

    &:global(.softLinen) {
      color: var(--graphite-smoke);

      h2 {
        color: var(--midnight);
      }
    }

    &:global(.riverStone) {
      color: var(--graphite-smoke);

      h2 {
        color: var(--midnight);
      }
    }

    &:global(.midnight) {
      color: var(--soft-linen);

      h2 {
        color: var(--river-stone);
      }
    }
  }

  .heading {
    grid-column: span 12;
  }

  .content {
    overflow: hidden;
    grid-column: span 12;
  }

  .wrappedText {
    grid-column: span 12;
  }

  .image {
    overflow: hidden;
    border-radius: 25px;

    grid-column: span 12;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media all and (min-width: 768px) {
  .content {
    &:global(.left) {
      grid-column: 1 / span 6;
    }

    &:global(.right) {
      grid-column: span 6 / 13;
    }
  }

  .wrappedText {
    &:global(.left) {
      grid-column: 1 / span 6;
    }

    &:global(.right) {
      grid-column: span 6 / 13;
    }
  }

  .image {
    &:global(.right) {
      grid-column: 1 / span 6;
    }

    &:global(.left) {
      grid-column: span 6 / 13;
    }
  }
}

@media all and (min-width: 1024px) {
  .content {
    &:global(.left) {
      grid-column: 1 / span 8;
    }

    &:global(.right) {
      grid-column: span 8 / 13;
    }
  }

  .wrappedText {
    &:global(.left) {
      grid-column: 1 / span 8;
    }

    &:global(.right) {
      grid-column: span 8 / 13;
    }
  }

  .image {
    &:global(.right) {
      grid-column: 1 / span 4;
    }

    &:global(.left) {
      grid-column: span 4 / 13;
    }
  }
}
